<!--index.tmpl-->

<!--Embed the header.html template at this location-->
{{ template "header.tmpl" .}}

  {{range .payload}}
    <!--Create the link for the article based on ID-->
    <a href="/article/view/{{.ID}}">

      <!--Display title-->
      <h2>{{.Title}}</h2>
    </a>
    
    <!--Display content-->
    <p>{{.Content}}</p>
  {{end}}

<!--Embed the footer.html template at this location-->
{{ template "footer.tmpl" .}}